{
	"singleQuote": false,
	"semi": true,
	"trailingComma": "none",
	"printWidth": 80,
	"useTabs": true,
	"tabWidth": 2,
	"quoteProps": "consistent",
	"jsxSingleQuote": false,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"endOfLine": "lf"
}
