@use "sass:map";
@use "@angular/material" as mat;

@import "./typography.scss";
@import "./theme.scss";
@import "./animations.scss";

@include mat.core();
@include mat.all-component-themes($GiantSquid-theme);
@include mat.typography-hierarchy($my-typography);

@include mat.core-theme($GiantSquid-dark-theme);
@include mat.button-theme($GiantSquid-dark-theme);
@include mat.all-component-typographies($GiantSquid-dark-theme);

@include mat.typography-hierarchy($GiantSquid-typography);

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-variation-settings:
		"FILL" 0,
		"wght" 500,
		"GRAD" 0,
		"opsz" 24;
}

// ::-webkit-scrollbar {
// 	width: 10px;
// 	height: 10px;
// }
// ::-webkit-scrollbar-track {
// 	background-color: #7978a0;
// 	margin-block: 1px;
// 	border-radius: 10px;
// }
// ::-webkit-scrollbar-thumb {
// 	background-color: #21c787;
// 	border-radius: 10px;
// 	height: 2px;
// }
// ::-webkit-scrollbar-thumb:hover {
// 	background-color: red;
// }
@tailwind base;
@tailwind components;
@tailwind utilities;
