@use "sass:map";
@use "typography";
@use "@angular/material" as mat;

$GiantSquid-primary: mat.define-palette(mat.$light-blue-palette);
$GiantSquid-accent: mat.define-palette(mat.$yellow-palette, A200, A100, A400);
$GiantSquid-warn: mat.define-palette(mat.$red-palette, 900);

$GiantSquid-light-theme: mat.define-light-theme(
	(
		color: (
			primary: $GiantSquid-primary,
			accent: $GiantSquid-accent,
			warn: $GiantSquid-warn
		),
		typography: typography.$GiantSquid-typography
	)
);

$GiantSquid-dark-theme: mat.define-dark-theme(
	(
		color: (
			primary: $GiantSquid-primary,
			accent: $GiantSquid-accent,
			warn: $GiantSquid-warn
		)
	)
);

@media (prefers-color-scheme: dark) {
	.dark-scheme,
	.prefered-scheme {
		@include mat.all-component-colors($GiantSquid-dark-theme);
	}
}

.primary-bg {
	background-color: mat.get-color-from-palette($GiantSquid-primary, 500);
	color: white;
}
