$portal-font-family: "Sometype Mono Custom";

@font-face {
	font-family: $portal-font-family;
	src: url("../assets/fonts/SometypeMono-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: $portal-font-family;
	src: url("../assets/fonts/SometypeMono-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: $portal-font-family;
	src: url("../assets/fonts/SometypeMono-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: $portal-font-family;
	src: url("../assets/fonts/SometypeMono-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: $portal-font-family;
	src: url("../assets/fonts/SometypeMono-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: $portal-font-family;
	src: url("../assets/fonts/SometypeMono-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: $portal-font-family;
	src: url("../assets/fonts/SometypeMono-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: $portal-font-family;
	src: url("../assets/fonts/SometypeMono-SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
}
