@use "theme";

.settings-icon {
	position: absolute;
	top: calc(50vh - 128px);
	@media only screen and (min-width: 768px) {
		right: 4rem;
		margin-right: 4px;
	}
}

#settingsIconId ::ng-deep {
	#iconId {
		font-size: 16px;
		color: theme.$gs-white;
		@apply animate-spin;
	}
}

.icon-button {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	min-width: 40px;
	padding: 0px;
	height: 40px;
	min-height: 40px;
}

.settings-drawer {
	width: 400px;
}
