<!-- Make many dumb components that will have all the navigations but in different orientation -->

<!-- Making classy style first -->
<div class="flex flex-col h-full shadow hover:overflow-x-hidden">
	<div class="flex flex-row justify-between items-center p-2">
		<div>
			<app-logo [logoClass]="'w-14 h-12'"></app-logo>
		</div>
		<div class="flex flex-row justify-end items-center">
			<div>
				<app-icon-button [iconName]="'notifications'"></app-icon-button>
			</div>
			<div>
				<app-icon-button [iconName]="'account_circle'"></app-icon-button>
			</div>
		</div>
	</div>

	<div class="flex flex-col items-center justify-center p-4">
		<app-avatar></app-avatar>
    <div class="mt-3 flex flex-col items-center justify-center">
      <div class="m-0 mat-subtitle-1">Sabik Abtahee</div>
      <div class="mat-subtitle-2">sabik.abtahee@gmail.com</div>
    </div>
	</div>

	<div class="mt-2 px-3" *ngFor="let i of navigations">
		<div>{{ i.Title }}</div>
		<div>{{ i.SubTitle }}</div>
		<div
			class="flex flex-row justify-start items-center gap-2"
			*ngFor="let j of i.ChildBusinesses"
		>
			<app-icon [iconName]="j.Icon"></app-icon>
			<span>{{ j.Title }}</span>
		</div>
	</div>
</div>
