<div class="settings-view flex flex-col">
	<div class="flex flex-row items-center justify-between p-4 primary-bg">
		<div class="flex flex-row items-center gap-3">
			<app-icon id="settingsIconId" [iconName]="'settings'"></app-icon>
			<div class="headline-6">Settings</div>
		</div>
		<app-icon-button
			(buttonClicked)="closeDrawer()"
			[iconName]="'close'"
		></app-icon-button>
	</div>
	<div class="p-6">
		<div>
			<hr class="my-8" />
		</div>
		<div class="flex flex-col gap-3">
			<div class="subtitle-1">SCHEME</div>
			<div>
				<mat-button-toggle-group
					class="flex flex-row items-center justify-between gap-3"
				>
					@for (i of schemesView; track i.Name) {

					<mat-button-toggle
						mat-flat-button
						[appSchemeSwitch]="i.Type"
						[value]="i.Type"
            [checked]="i.Selected"
						class="rounded-full p-3 h-full mat-app-background"
					>
						<div class="flex flex-row gap-1 items-center justify-center h-full">
							<app-icon [iconName]="i.Icon"></app-icon>
							<div>{{ i.Name }}</div>
						</div>
					</mat-button-toggle>

					}
				</mat-button-toggle-group>
			</div>
		</div>
		<div></div>
	</div>
</div>
<!--
<button [appSchemeSwitch]="schemes.light">Light</button>
<button [appSchemeSwitch]="schemes.dark">Dark</button>
<button [appSchemeSwitch]="schemes.prefered">Prefered</button> -->
